:root {
    --div-color: #E2F0F9;
    --text-color: #141E2A;
    --button-color: #1D3461;
}

body, html {
    background-color: #8BC6EC;
    background-image: linear-gradient(90deg, #8BC6EC 0%, #9599E2 100%);
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    min-height: 100%;
    color: var(--text-color);
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cookies */

.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--text-color);
    padding: 1rem;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: none;
}

.cookie-banner p {
    color: white;
}

.cookie-banner button {
    margin: 1rem .3rem;
    width: 100px;
    padding-block: .7rem;
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: black;
}

#accept-cookies {
    background-color: var(--button-color);
    color: white;
}

/* Utility classes */

.empty-space {
    height: 80px;
    width: 100%;
    background-color: transparent;
}

.bold { font-weight: 700; }

.white-font { color: var(--div-color); }

.center { text-align: center; }

.container {
    max-width: 1800px;
    margin: 2rem auto;
    border-radius: 12px;
}

.uppercase { text-transform: uppercase; }

.paragraph {
    max-width: 1400px;
    font-weight: 400;
    line-height: 1.6;
}

/* Headings */

h1 {
    font-size: clamp(2.5rem, 2.2692rem + 1.1538vw, 4rem);
    line-height: 1;
    color: var(--text-color);
}

h2 {
    color: var(--text-color);
    font-size: clamp(1.8rem, 1.7231rem + 0.3846vw, 2.3rem);
}

#how-to-help .h3 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

/* Header */

header {
    background-color: var(--div-color);
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

#logo {
    margin-left: 2rem;
    height: 65px;
}

nav {
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

header a, #mobile-nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 2rem;
    font-size: 0.8rem;
    letter-spacing: 0.02em;
}

/* Mobile Menu */

#mobile-menu {
    display: none;
    margin-right: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

#mobile-menu .bar {
    margin: 8px;
    width: 30px;
    height: 3px;
    background: var(--text-color);
    border-radius: 2px;
    transition: margin 0.3s, transform 0.3s;
}

button#mobile-menu.close .bar:first-child { transform: translateY(10px) rotate(45deg); }

button#mobile-menu.close .bar:nth-child(2) { opacity: 0; }

button#mobile-menu.close .bar:last-child { transform: translateY(-12px) rotate(-45deg); }

#mobile-nav {
    background-color: var(--div-color);
    height: 100vh;
    width: 100%;
    display: none;
    position: absolute;
    top: 80px;
    right: 0px;
    z-index: 100;
}

#mobile-nav ul {
    display: flex;
    flex-direction: column;
}

#mobile-nav li {
    list-style-type: none;
    font-size: 1rem;
    letter-spacing: 0.02em;
    padding: 1em;
    border-bottom: 1px solid #b6b6b6;
}

#mobile-nav a { display: block; }

/* Homepage */

#homepage { margin-top: 5rem; }

.homepage-content {
    display: flex;
    margin-bottom: 4rem;
}

.left-content {
    flex: 1;
    background-color: var(--div-color);
    padding: 6em 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 12px 12px 0;
}

.left-content p { margin-block: 1rem; }

.right-content {
    flex: 1;
    z-index: 1;
    position: relative;
    top: 40px;
}

.right-content img {
    width: 100%;
    border-radius: 12px 0 0 12px;
}

.cta-button {
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 0.02em;
    width: 220px;
    height: 50px;
    border-radius: 35px;
}

.primary-button {
    color: #fff;
    background-color: var(--button-color);
}

.secondary-button {
    background-color: #fff;
    color: var(--text-color);
}

.bank-number { color: var(--text-color); }

.buttons {
    display: flex;
    gap: .5rem;
}

/* Divider */

.city {
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

.divider { margin: 2rem auto; }

.h3-divider { margin: 1rem auto; }

.divider, .h3-divider {
    display: table; 
    font-size: 25px; 
    text-align: center;
    width: 90%; 
}

.divider span { 
    display: table-cell; 
    position: relative;
}

.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 22px;							
    -moz-background-size: 100% 2px; 	
    background-size: 100% 2px; 
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}

.divider span:first-child {				
    background-image: -webkit-linear-gradient(180deg, transparent, var(--text-color));
    background-image: -moz-linear-gradient(180deg, transparent, var(--text-color));
    background-image: -o-linear-gradient(180deg, transparent, var(--text-color));
    background-image: linear-gradient(90deg, transparent, var(--text-color));
}

.divider span:nth-child(2) {
    color: var(--text-color); padding: 0px 5px; width: auto; white-space: nowrap;
}

.divider span:last-child {			
    background-image: -webkit-linear-gradient(180deg, var(--text-color), transparent);
    background-image: -moz-linear-gradient(180deg, var(--text-color), transparent);
    background-image: -o-linear-gradient(180deg, var(--text-color), transparent);
    background-image: linear-gradient(90deg, var(--text-color), transparent);
}

.h3-divider span { 
    display: table-cell; 
    position: relative;
}

.h3-divider span:first-child, .h3-divider span:last-child {
    width: 50%;
    top: 38px;							
    -moz-background-size: 100% 2px; 	
    background-size: 100% 2px; 
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}

.h3-divider span:first-child {				
    background-image: -webkit-linear-gradient(180deg, transparent, var(--text-color));
    background-image: -moz-linear-gradient(180deg, transparent, var(--text-color));
    background-image: -o-linear-gradient(180deg, transparent, var(--text-color));
    background-image: linear-gradient(90deg, transparent, var(--text-color));
}

.h3-divider span:nth-child(2) {
    color: var(--text-color);
    padding-inline: 1em;
    width: auto;
    white-space: nowrap;
}

.h3-divider span:last-child {			
    background-image: -webkit-linear-gradient(180deg, var(--text-color), transparent);
    background-image: -moz-linear-gradient(180deg, var(--text-color), transparent);
    background-image: -o-linear-gradient(180deg, var(--text-color), transparent);
    background-image: linear-gradient(90deg, var(--text-color), transparent);
}

.paw {
    margin-inline: .5rem;
}


/** About us **/

.about-us-section {
    background-color: var(--div-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 5em;
    gap: 8rem;
}

.about-us-leftside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/** To Adopt **/

.adopt-info {
    display: flex;
    background-color: var(--div-color);
    padding: 4em;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

.cat-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 2rem;
    padding-inline: 1rem;
}
  
.cat-card {
    background-color: var(--div-color);
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
    transition: all .3s linear;
    border-radius: 12px;
}


.cat-card img {
    width: 100%;
    border-radius: 12px 12px 0 0;
    height: 350px;
    object-fit: cover;
}

.gender-and-born{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.cat-name{
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.cat-info{ padding: 1.5em 1em; }

/* How to help */

.help-divs {
    display: flex;
    flex-direction: column; 
    gap: 2rem;
}

.help-divs img { height: 110px; }

.help-divs h3 {
    font-size: 1.5rem;
    flex: 1;
}

.help-divs > * {
    display: flex;
    align-items: center;
    padding: 2em;
    gap: 4rem;
    margin-inline: 2rem;
    border-radius: 12px;
}

.help-divs p { flex: 4; }

.financial-help, .aukcion-help { background-color: var(--div-color); }

.care-help { background-color: var(--button-color) }

.material-help { background-color: var(--text-color); }

.aukcion-help a { color: var(--text-color); }

.thanks {
    font-size: .9rem;
    font-style: italic;
    font-weight: 600;
    margin: 2rem auto 0 auto;
}

/* Slider */

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.mySlides {
    display: none;
    height: 500px;
    width: 700px;
    position: relative;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#previous-arrow, #next-arrow {
    background: none;
    border: none;
    height: 50px;
    cursor: pointer;
}

#previous-arrow img, #next-arrow img { width: 40px; }

.slider-malename {
    background-color: #1d3461d8;
    padding: 1em;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.slider-femalename {
    background-color: #98238cd0;
    padding: 1em;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.slider-catname {
    display: block;
    font-weight: 400;
}

#found-home a { margin: 2rem auto 0 auto; }

/* Contact */

.contact-info {
    background-color: var(--div-color);
    min-height: 80px;
    margin-top: 2rem;
    line-height: 1.4;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info p { padding: 2em; }

.contact-data {
    display: flex;
    height: 400px;
}

.phone-mail { background-color: var(--text-color); }

.contact-data > * {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.fb-bank{ background-color: var(--div-color);}

.phone-mail > *, .fb-bank > * {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 280px;
}

.contact-data a, .contact-data p {
    font-size: 1.2rem;
    font-weight: 500;
}

.qr-div {
    position: relative;
    top: -285px;
    width: fit-content;
    margin-inline: auto;
}

#qr-code {
    display: block;
    margin-inline: auto;
}

.qr-div p {
    color: var(--text-color);
    display: block;
    background-color: #fff;
    width: 149px;
    margin-inline: auto;
    padding-bottom: .5em;
}

.mail a { color: var(--div-color); }

/* Footer */

footer {
    background-color: var(--text-color);
    clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
}

footer > * { color: var(--div-color); }

.footer-flex {
    display: flex;
    justify-content: space-evenly;
    padding-block: 3em;
    align-items: center;
}

.fb-mail {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-direction: column;
}

.copyright {
    display: block;
    font-size: .9rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-left: 1em;
    border-left: 3px solid #e2f0f9ad;
}

.footer-nav > * {
    text-decoration: none;
    color: var(--div-color);
    font-weight: 600;
    font-size: .9rem;
}

.create {
    display: flex;
    margin-top: .5rem;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    font-size: .9rem;
}

.follow-us {
    font-weight: 400;
    font-size: 0.8rem;
}

.footer-bottom {
    padding-block: 1em;
    background: #131923;
}

/* Media queries */

@media (hover: hover) {

    header nav ul li a:hover {
        color: #9599E2;
        transition: color .3s;
    }

    .primary-button:hover {
        color: #fff;
        background-color: var(--text-color);
        transition: all .4s;
    }

    .secondary-button:hover {
        color: #fff;
        background-color: var(--text-color);
        transition: all .4s;
    }

    .cat-card:hover {
        transform: scale(1.05);
    }

    #previous-arrow:hover, #next-arrow:hover {
        transform: scale(1.2);
        transition: all .5s;
    }

    .footer-nav > *:hover {
        color: #e2f0f9ad;
        transition: all 0.5s;
    }

    .cookie-banner button:hover {
        background-color: var(--button-color);
        color: white;
        transition: all .5s;
    }

    #accept-cookies:hover {
        background-color: white;
        color: black;
        transition: all .5s;
    }

}

@media only screen and (max-width: 1400px){

    .homepage-content { flex-direction: column; }

    .right-content {
        flex: none;
        height: 550px;
        top: 0;
    }

    .about-us-section {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .about-us-leftside { align-items: center; }

    .help-divs > * {
        flex-direction: column;
        gap: 2rem;
        margin: 0;
        border-radius: 0;
    }

    .container, .left-content, .right-content img {border-radius: 0px;}
}

@media only screen and (max-width: 1100px){
    header {
        height: 80px;
        position: fixed;
        top: 0;
        z-index: 99;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        justify-content: space-between;
    }

    #mobile-menu { display: inline-block; }

    nav { display: none; }

    .adopt-info {
        flex-direction: column;
        gap: 3rem;
        margin-block: 2rem;
    }

    .contact-data {
        flex-direction: column;
        height: 800px;
    }

    .qr-div { top: -490px; }
}

@media only screen and (max-width: 750px){

    .left-content { padding: 4em 1em; }

    .about-us-section { margin: 0; }

    .footer-nav { display: none; }
}

@media only screen and (max-width: 580px){


    .about-us-section {
        padding: 3em 1em;
        align-items: center;
    }

    .right-content { height: 250px; }

    .adopt-info { padding: 2em 1em; }

    .mySlides {
        height: 400px;
        width: 80%;
    }
}

@media only screen and (max-width: 500px){

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .about-us-rightside img { width: 250px; }

    .help-divs { margin-block: 2rem; }

    .help-divs > * { padding: 2em 1em; }

    .help-divs img { height: 80px; }

    .mySlides { height: 250px; }
}